body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px 0;
}

.profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
}

.profile-card {
    width: calc(33.3% - 40px); /* Aproximadamente 33.3% para que haya tres perfiles por fila */
    background-color: white;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-card h2 {
    color: #333;
    font-size: 1.5rem; /* Tamaño de letra aumentado para móviles */
}

.profile-card p {
    color: #666;
    margin-bottom: 10px;
    font-size: 1rem; /* Tamaño de letra aumentado para móviles */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    .profiles {
        padding: 10px;
    }
    
    .profile-card {
        width: calc(50% - 40px); /* Dos perfiles por fila en pantallas pequeñas */
    }
    
    .profile-card img {
        width: 120px;
        height: 120px;
    }
}
