:root {
    font-size: 5vw;
}
body {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.inicio {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px; */
}
.top_del_mes {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-bottom: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.top_del_mes__h2 {
    font-size: 2vw;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-weight: bold;
    color: #FF402F;
    margin: 0;
    padding: 0;
    font-display: flex;
}
.inicio__famosos {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    margin-top: 2%
}
.inicio__famosos h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-weight: bold;
    color: #FF402F;
}
.ver_todos__button {
    background-image: linear-gradient(to left, #FF3833, #FF3A33, #FF8B4B);
    color: white;
    padding: 4px 15px;
    border: none;
    border-radius: 30px;
    text-transform: capitalize;
    cursor: pointer;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* miniaturas para todas las imagenes */

/* .miniaturas__famosos__imagen {
    border-radius: 8px;
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #000;
}
.miniaturas {
    display: grid;
    grid-template-columns: 
        repeat(
            auto-fit,
            minmax(150px, 1fr)
        );
    gap: 32px;
} */
.miniaturas__famosos__imagen {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 30px #000;
}
.miniaturas {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    /* grid-template-columns: 
        repeat(
            auto-fit,
            minmax(50px, 1fr)
        ); */
    gap: 5px;
    margin: 0 3%;
    scrollbar-width: none;
}
.miniaturas::-webkit-scrollbar {
    display: none;
}
.header {
    background-image: linear-gradient(90deg, #FF3833, #FF3A33, #FF8B4B);
    color: white;
    text-align: center;
    padding: 15px 0;
}
.profile-card {
    width: calc(33.3% - 40px); /* Aproximadamente 33.3% para que haya tres perfiles por fila */
    background-color: #FF914D;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-card h2 {
    color: #333;
    font-size: 1.5rem; /* Tamaño de letra aumentado para móviles */
}

.profile-card p {
    color: #666;
    margin-bottom: 10px;
    font-size: 1rem; /* Tamaño de letra aumentado para móviles */
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
@media (max-width: 768px) {
    .profiles {
        padding: 10px;
    }
    
    .profile-card {
        width: calc(50% - 40px); /* Dos perfiles por fila en pantallas pequeñas */
    }
    
    .profile-card img {
        width: 120px;
        height: 120px;
    }
}
