.top_del_mes {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-bottom: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.top_del_mes__h2 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-weight: bold;
    color: #FF402F;
    margin: 0;
    padding: 0;
}
.inicio__famosos {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    margin-top: 2%
}
.inicio__famosos h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-weight: bold;
    color: #FF402F;
}
.ver_todos__button {
    background-image: linear-gradient(to left, #FF3833, #FF3A33, #FF8B4B);
    color: white;
    padding: 4px 15px;
    border: none;
    border-radius: 30px;
    text-transform: capitalize;
    cursor: pointer;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__nav {
    background-image: linear-gradient(90deg, #FF3833, #FF3A33, #FF8B4B);
    color: white;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}
.nav__button {
    background-color: transparent;
    color: white;
    padding: 0 4px;
    border: none;
    border-radius: none;
    cursor: pointer;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav__img {
    max-width: 25px;
    padding: 0;
    margin: 0;
}
.nav__span {
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
}