    
:root {
    font-size: 5vw;
}
.header__nav {

    /* background-image: linear-gradient( #2E3034, #1E1D1D, #000000, #000000); */
    background-color: #000000;
    color: white;
    padding: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    box-sizing: border-box;
    z-index: 2;
}
.nav__button {
    background-color: transparent;
    color: white;
    padding: 0.5vh 6vw;
    border: none;
    border-radius: none;
    cursor: pointer;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav__button--perfil {
    margin: 0;
    padding: 0;
}
.nav__img {
    max-width: 8vw;
    padding: 0;
    margin: 0;
}
.nav__span {
    font-size: 0.6rem;
    margin: 0;
    padding: 0;
}
.nav__icono--peliculas {
    padding: 0 1vw 10%;
    border-bottom: 0.5vh #f4f4f4 solid;
    border-bottom-right-radius: 1%;
    border-bottom-left-radius: 1%;
}