
.footer__nav {
    background-image: linear-gradient(90deg, #FF3833, #FF3A33, #FF8B4B);
    color: white;
    padding: 0.7vh 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}
.nav__button {
    background-color: transparent;
    color: white;
    padding: 0 2vw;
    border: none;
    border-radius: none;
    cursor: pointer;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav__img {
    max-width: 8vw;
    padding: 0;
    margin: 0;
}
.nav__span {
    font-size: 0.6em;
    margin: 0;
    padding: 0;
}